*{
    margin: 0;
    padding: 0;
}

.header{
    height: 90px;
    width: 100%;
    background-color: #7130FC;
}

.icone_voltar{
    margin: 20px;
}

.pagina_toda{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

h1{
    font-size: 120px;
}

h3{
    font-size: 30px;
}

.nome_campo{
    margin: 10px;
}

.email, .senha{
    background-color: #D9D9D9;
    width: 500px;
    height: 30px;
    padding: 10px;
    margin: 10px;
}
.senha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esqueceu_senha{
    color: #3298D2;
    margin: 10px;
    margin-left: 70%;
}

.entrar{
    background-color: #7130FC;
    width: 50px;
    padding: 10px 80px;
    margin-top: 70px;
    margin-left: 30%;
}