@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --font-principal: 'Jockey One', sans-serif;
}

.header{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--font-principal);
    
}

img{
    margin: 10px;
}

.icone_mensagem{
    background-color: #ffffff;
    border-radius: 10px;
}

.icone_container{
    display: flex;
    flex-direction: row;
}

.container{
    background-color: #D9D9D9;
    border: 1px solid black;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    margin: 20px;
}

#container1{
    display: block;
    float: right;
    height: 50px;
}

#container2{
    height: 80px;
    display: block;
    float: right;
}

#container3{
    height: 100px;
}

#icon{
    margin-top: 15%;
}

.footer{
    bottom: 0;
    position: fixed;
    display: flex;
    background-color: #000000;
    border-radius: 50px;
    margin-left: 97%;
    margin-bottom: 10px;
}