@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --font-principal: 'Jockey One', sans-serif;
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    letter-spacing: 25px;
}

h3{
    letter-spacing: 10px;
}

h1, h3{
    color: #FFFFFF;
    font-family: var(--font-principal);
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}
.carro{
    margin: 20px 20px 20px 40px;
}

.pagina_toda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primeira_parte{
    display: flex;
    flex-direction: column;
}

.segunda_parte{
    display: flex;
    flex-direction: column;
}

p{
    color: #000000;
    margin: 20px;
    text-transform: uppercase;
    font-family: var(--font-principal);
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
