@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --font-principal: 'Jockey One', sans-serif;
}

header{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px rgb(138, 136, 136);
}

.logo {
    width: 50%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 30%;
}

header h3{
    letter-spacing: 10px;
    color: #3b62e2;
    font-family: var(--font-principal);
    font-size: 1.7em;
    padding: 5px;
    text-transform: uppercase;
}

header a{
    text-decoration: none;
    margin: 20px;
}

header button{
    background-color: #ffffff;
    border: solid 2px black;
    margin: 20px;
}

header button:hover {
    background-color: #bee2f3;
    transition: 0.6s;
}

main{
    flex-grow: 1;
}

.pagina_toda{
    display: flex;
    flex-direction: column;
}

.primeira_parte {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid 1px #b9b9b9;
    margin-bottom: 10px;
}

.primeira_parte div{
    max-width: 50%;
}

#logo_porto{
    width: 25%;
}

.primeira_parte h1 {
    font-size: 3em;
    margin-left: 20px;
}

#imagem_carro {
    width: 50%;
    margin: 20px;
    height: 350px;
    border-radius: 50px;
}


.segunda_parte{
    display: flex;
    width: 100%;
}


.desc{
    width: 50%;
}

.desc p, .desc h3{
    color: #000000;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: var(--font-principal);
}

.desc h3{
    font-size: 1.6em;
}

.desc p {
    text-indent: 5px;
    margin-bottom: 5px;
}

#acessadores{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
}

#acessadores h1{
    font-size: 1.8em;
    margin: 30px;
}

#acessadores button{
    width: 50%;
    padding: 10px;
    background-color: #7130FC;
    color: #ffffff;
    border: solid 3px #000000;
}

#acessadores button:hover {
    background-color: #ffffff;
    padding: 15px;
    color: #000000;
    transition: 1.2s;
}

footer{
    background-color: #7130FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    width: 100%;
}

@media screen and (max-width: 1200px){
    .primeira_parte h1 {
        font-size: 2.5em;
    }

    .segunda_parte{
        flex-direction: column;
    }
    .desc{
        width: 100%;
    }

    #acessadores {
        width: 100%;
        margin-left: 0;
    }

}

@media screen and (max-width: 800px){
    .logo img{
        width: 50%;
    }

    #logo_porto{
        width: 40%;
    }
}

@media screen and (max-width: 660px){
    header h3{
        letter-spacing: 5px;
        font-size: 1.3em;
        padding: 5px;
        
    }

    .primeira_parte h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px){
    #imagem_carro{
        height: 200px;
    }
}

@media screen and (max-width: 500px){
    .logo img{
        width: 60%;
    }

    header h3{
        font-size: 1em;
    }

    header button{
        margin: 0;
    }

    #logo_porto{
        width: 60%;
    }
    .primeira_parte h1 {
        font-size: 1.3em;
    }

    #acessadores h1{
        font-size: 1.5em;
    }

    #acessadores button{
        width: 40%;
        
    }
   
}

@media screen and (max-width: 442px) {
    .desc h3{
        font-size: 1.2em;
    }

    .desc p{
        font-size: 0.8em;
    }

    #acessadores h1{
        font-size: 1.2em;
    }

    header h3{
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 375px) {
    .primeira_parte h1 {
        font-size: 1em;
    }

    #imagem_carro{
        height: 150px;
    }

    footer h3{
        font-size: 0.8em;
    }

    #acessadores button{
        width: 40%;
    }
}
