*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 90px;
    width: 100%;
    background-color: #7130FC;
}

.icone_voltar{
    margin: 20px;
}

.divisao{
    justify-content: space-around;
    display: flex;
}

.fotos{
    width: 100%;
    height: 360px;
    border-radius: 50%;
}

.divisao article{
    width: 20%;
    text-align: center;
}

h3{
    margin: 10px;
}

a{
    margin: 10px;
    color: black;
}

.projeto{
    flex-direction: column;
    text-align: center;
}

.github, .figma{
    text-decoration: none;
}

@media screen and (max-width: 880px){

    .fotos{
        height: 200px;
    }

    .divisao article{
        width: 30%;
    }
}

@media screen and (max-width: 514px){
    h3{
        font-size: 1em;
    }

    .fotos{
        height: 150px;
    }
}

@media screen and (max-width: 400px){
    .icone_voltar{
        width: 15%;
        margin: 0;
        margin-top: 20px;
    }
    h3{
        font-size: 0.8em;
    }

    .divisao a{
        font-size: 1em;
    }

    .divisao article{
        width: 30%;
    }
    
}

@media screen and (max-width: 300px){

    .icone_voltar{
        width: 15%;
        margin: 0;
        margin-top: 20px;
    }

    .divisao{
        flex-direction: column;
        align-items: center;
    }

    .divisao article{
        width: 50%;
        margin-bottom: 20px;
    }
    
}

