@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --font-principal: 'Jockey One', sans-serif;
}

header{
    background-color: #7130FC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    letter-spacing: 25px;
}

h3{
    letter-spacing: 10px;
}

h1, h3{
    color: #FFFFFF;
    font-family: var(--font-principal);
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}
.carro{
    margin: 20px 20px 20px 40px;
}

.pagina_toda{
    display: flex;
    flex-direction: row;
}

.primeira_parte{
    display: flex;
    flex-direction: column;
}

.segunda_parte{
    display: flex;
    flex-direction: column;
}

.descricao{
    margin-bottom: 80px;
}

p{
    color: #000000;
    margin: 20px;
    text-transform: uppercase;
    font-family: var(--font-principal);
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 40% 50px;
    width: 50%;
}   

.cada_icone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20% ;
}

.plano_total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.planos{
    background-color: #000000;
    width: 100px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 50px;
    margin-bottom: 40px;
    border: 0.5px solid #000000;
    border-radius: 60px;
}

.planos_baixo{
    display: flex;
    flex-direction: column;
    margin-left: 25%;

}

.letra_plano{
    color: #FFFFFF;
}

.footer{
    background-color: #7130FC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 100%;
}
