*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 90px;
    width: 100%;
    background-color: #7130FC;
}

.icone_voltar{
    margin: 20px;
}

.divisao{
    display: flex;
}

.divisao article{
    width: 30%;
    height: 314px;
    margin-right: auto;
    text-align: center;
}

.divisao div article{
    width: 100%;
}

.divisao div{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
}

.fotos {
    border-radius: 50%;
    width: 80%;
    height: 250px;
  }

h3{
    margin: 10px;
}

a{
    margin: 10px;
    color: black;
}

.projeto{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.github, .figma{
    text-decoration: none;
}

@media screen and (max-width: 960px){

    .icone_voltar{
        width: 7%;
        margin-top: 10px;
    }
    .divisao{
        flex-direction: column;
        justify-content: space-between;
    }

    .divisao article{
        margin-right: auto;
        margin-left: auto;
        width: 40%;
        height: 300px;
    }

    .divisao div{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        width: 80%;
    }

    .fotos{
        height: 210px;
    }
    .projeto{
        margin-top: 0;
    }

    .projeto a{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 580px){
    h3{
        font-size: 1em;
    }
}

@media screen and (max-width: 400px){
    h3{
        font-size: 0.8em;
    }

    .divisao a{
        font-size: 1em;
    }
    
}

@media screen and (max-width: 274px){

    .divisao div{
        margin-bottom: 20px;
    }
    
}

